name: Auto Docker build

on:
  push:
    branches:
      - '*'

permissions:
    contents: read
    packages: write
    id-token: write

jobs:
  build-scan:
    name: checkout and build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile-scan
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/scan:latest,ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/scan:${{ github.sha }}

  build-rss:
    name: checkout and build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile-rss
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/rss:latest,ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/rss:${{ github.sha }}
